.overlay{
    width: 100%;
    max-width: 660px;
    left: 50%;
    margin-left: -330px;
    z-index: -1;
}
@media screen and (max-width: 660px) {
    .overlay{
        left: 0px;
        margin-left: auto;
    }
}