.link-btn{
    padding: 15px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    background-color: #EAECF0;
    border: none;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    color: rgb(85, 85, 85);
    border-radius: 5px;
    margin-bottom: 15px;
}
.link{
    margin: auto;
    margin-left: 9.5%;
}
@media screen and (max-width: 525px) {
    .link-btn{
        width: 90%;
    }
    .link{
        margin-left: 3%;
    }
}